<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Ninject" version="3.3.4" targetFramework="net48" />
  <package id="Serilog" version="2.10.0" targetFramework="net48" />
  <package id="SerilogWeb.Classic" version="5.0.61" targetFramework="net48" />
</packages>